[client]
port = {{ mysql_port }}
socket = {{ mysql_socket }}

[mysqld_safe]
socket = {{ mysql_socket }}
nice = 0

[mysqld]
user = mysql
port = {{ mysql_port }}
bind-address = {{ mysql_bind_address }}
datadir = {{ mysql_datadir }}
socket = {{ mysql_socket }}
pid-file = {{ mysql_pid_file }}
basedir = {{ mysql_basedir }}
tmpdir = {{ mysql_tmp }}
lc-messages-dir = /usr/share/mysql
skip-external-locking

log_error = {{ mysql_log_error }}

key_buffer_size = 16M
max_allowed_packet = 16M
thread_stack = 192K
thread_cache_size = 8

myisam-recover-options = BACKUP

query_cache_limit = 1M
query_cache_size = 16M

expire_logs_days = 10
max_binlog_size = 100M
